@page "/board/{BoardName}"

@using Kanban.Services
@using Kanban.Components
@using Kanban.Services.AddCard
@using Kanban.Services.AddCardList
@using Kanban.Services.GetBoard

@inject AddCardService addCard
@inject AddCardListService addCardList
@inject GetBoardService getBoard

<div class="d-flex gap-4">

    @if (board != null)
    {
        foreach (var list in board.CardLists)
        {
            <CardList Model=@list
              AddCard=@((string cardTitle) => addCard.AddCard(board.Title, new AddCardRequest(list.Title, cardTitle))) />
        }
        <CardListInputContainer AddCardList=@((string cardListTitle) => addCardList.AddCardList(new AddCardListRequest(board.Title, cardListTitle))) />
    }
</div>

@code {
    [Parameter]
    public string BoardName { get; set; }
    private Model.Board board;

    protected override async Task OnInitializedAsync()
    {
        board = await getBoard.GetBoard(BoardName);
    }
}
