@page "/board/{BoardName}"

@using Kanban.Services
@using Kanban.Components
@using Kanban.Services.AddCard
@using Kanban.Services.AddCardList
@inject KanbanApi kanbanApi

<div class="d-flex gap-4">

@if (board != null)
{
    foreach (var list in board.CardLists)
    {
        <CardList Model=@list
          AddCard=@((string cardTitle) => kanbanApi.AddCard(board.Title, new AddCardRequest(list.Title, cardTitle))) />
    }
    <CardListInputContainer AddCardList=@((string cardListTitle) => kanbanApi.AddCardList(new AddCardListRequest(board.Title, cardListTitle))) />
}
</div>

@code {
    [Parameter]
    public string BoardName { get; set; }
    private Model.Board board;

    protected override async Task OnInitializedAsync()
    {
        board = await kanbanApi.GetBoard(BoardName);
    }
}
