@page "/boards"
@    using Kanban.Services
@    using Kanban.Components
@    using Kanban.Services.CreateBoard
@    using Kanban.Services.GetAllBoards
@inject CreateBoardService createBoard
@inject GetAllBoardsService getAllBoards

@if (boards == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var b in boards)
    {
        <MudBlazor.MudLink Href="@($"/board/{b.title}")">
            <BoardCard Title=@b.title></BoardCard>
        </MudBlazor.MudLink>
    }
    <BoardInputContainer OnClick=@((string title) => createBoard.SaveBoard(new CreateBoardRequest(title)))></BoardInputContainer>
}

@code {
    private Board[]? boards;

    protected override async Task OnInitializedAsync()
    {
        boards = await getAllBoards.GetAllBoards();
    }



}
