@page "/boards"
@using Kanban.Services
@inject KanbanApi kanbanApi

@if (boards == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var b in boards)
    {
        <Kanban.Components.BoardCard Title=@b.title></Kanban.Components.BoardCard>
    }
    <Kanban.Components.BoardInputContainer OnClick=@((string title) => kanbanApi.SaveBoard(new CreateBoardRequest(title)))></Kanban.Components.BoardInputContainer>
}

@code {
    private Board[]? boards;

    protected override async Task OnInitializedAsync()
    {
        boards = await kanbanApi.GetAllBoards();
    }

    public record Board(string title);
    public record CreateBoardRequest(string boardName);

}
